*{
    box-sizing: border-box;
}
.home_page{
    height: 100vh;
    width: 100vw;
    background-color: black;
}
.home_navbar{
    padding-top: 1rem;
    display: flex;
    height: 180px;
    width: 100vw;
    justify-content: center;
    background:linear-gradient(to top,black,rgba(27, 196, 196, 0.866));
}

.brand_symbol{
    font-size: 5rem;
    font-weight: 500;
    letter-spacing: 1rem;
}

.brand_right{
    font-size: 1rem;
    margin-top: 1rem;
    width: 500px;
    display: flex;
    justify-content: space-around;
}

.home_content{
    width: max-content;
    height: max-content;
    margin: 0rem auto;
    display: flex;
    border-radius: 30px;
}

.home_left,.home_right{
    margin: 0 0;
    border-style: solid;
    height: 400px;
    width: 400px;
    background-color: rgb(15, 47, 47);
}

.home_left{
    background: url('https://i.gifer.com/7RwF.gif');
    background-position: center;
    background-size: 300px 300px;
    background-repeat: no-repeat;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    color: aquamarine;
}

.home_right{
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    padding: 3rem 3rem 3rem 3rem;
    color: aquamarine;
}

.buttons{
    display: flex;
    width: max-content;
    margin-top: 2rem;
}

.buttons a{
    color:rgb(226, 156, 43);
    text-decoration: none;
    font-size: 1rem;
}

.button_login,.button_reg{
    background-color: transparent;
    width: 100px;
    height: 50px;
    border: 1px solid greenyellow;
    border-radius:3px;
    margin-right: 1rem;
}


.home_brand{
    margin-left: 1.5rem;
    margin-top: 9.5rem;
    position:inherit;
    text-align:center;
    font-size: 4rem;
    font-weight: 500;
    letter-spacing: 1rem;
    color: rgb(74, 209, 17);
}

hr{
    margin-top: 4rem;
    margin-left:  auto;
    margin-right: auto;
    width: 90vw;
    height: 0.2rem;
    background: rgba(3, 101, 80, 0.866);
    border-radius: 0.1rem;
    border-style: none;
}

.home_footer{
    text-align: center;
    color: rgb(27, 162, 162);
    width: max-content;
    height: max-content;
    margin-left:  auto;
    margin-right: auto;
    margin-top: 1.5rem;
}
.home_footer a{
    color: rgb(27, 162, 162);
    text-decoration: none;
}

@media only screen and (max-width:800px){
    .home_page{
        height: max-content;
    }
    .home_content{
        display: block;
    }
    .home_left{
        height: 45vh;
        width: 45vw;
        background-position: center;
        background-size: 45vw 45vh;
        background-repeat: no-repeat;
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
        border-bottom-left-radius: 0px;
    }
    .home_right{
        height: max-content;
        width: 45vw;
        border-top-left-radius: 00px;
        border-top-right-radius: 0px;
        border-bottom-left-radius:30px;
        border-bottom-right-radius: 30px;
        padding: 1rem 1rem 1rem 1rem;
    }
    .home_brand{
        margin-left: 1.5rem;
        margin-top: 7.5rem;
    }
}

@media only screen and (max-width:550px){
    .home_left{
        height: 45vh;
        width: 70vw;
        background-position: center;
        background-size: 70vw 45vh;
        background-repeat: no-repeat;
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
        border-bottom-left-radius: 0px;
    }
    .home_right{
        height: max-content;
        width: 70vw;
        border-top-left-radius: 00px;
        border-top-right-radius: 0px;
        border-bottom-left-radius:30px;
        border-bottom-right-radius: 30px;
        padding: 1rem 1rem 1rem 1rem;
    }
    .home_brand{
        display: none;
    }
    .buttons{
        margin: 0 auto;
        margin-top: 1rem;
    }
    .home_footer a{
        text-decoration: underline;
        display: block;
    }
}
